header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
header > div > img {
  display: flex;
  max-width: 98%;
  height: 10%;
  margin: 10%;
}
header > h2 {
  text-align: center;
}

@media (min-width: 768px) {
  header {
    margin-left: 18%;
  }

  header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
}
