<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/landing.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Trackgenix - Home</title>
  </head>
  <body>
    <div class="aside-mobile">
      <a><img src="../assets/shape.png" alt="burger menu"/></a>
      </div>
    <aside>
      <div class="aside-desktop">
        <div class="content-ad">
          <a><img src="../assets/Icon Home.png" alt="Icon home" id="icon-home" />Home</a>
        </div>
        <div class="content-ad">
          <a href="./sign-up.html"><img src="../assets/user-question.svg" alt="Icon person with question mark" id="icon-sign-up" /> Sign Up</a>
          <a href="./login.html"><img src="../assets/Icon Login.png" alt="Icon person" id="icon-log-in" /> Log In</a>
        </div>
        <div class="secondary-content-ad">
          <a><img src="../assets/Icon Contact.png" alt="Icon clock" id="icon-contact" />Contact</a>
          <p><img src="../assets/Icon Tel.png" alt="Icon phone" id="icon-phone" />(000)000-0000</p>
          <p><img src="../assets/Icon email.png" alt="Icon email" id="icon-mail" />trackenixsup@rr.com</p>
        </div>
      </div>
    </aside>
    <header>
      <h1 class="main-title">
        Trackgenix
      </h1> 
      <h2 class="italic">A tool designed to improve productivity and work management</h2>
      <div>
        <img src="../assets/Landin img.jpg" alt="Person using tablet" />
        <p class="italic">
          Sometimes working with large groups of people can be difficult. Trackgenix is a system created to make things easier in cases like that and
          accomplish your goals in the easiest and fastest way.
        </p>
      </div>
    </header>
    <main>        
      <h2 class="titles">
          Functionalities
      </h2>
      <section class="functionalities">
        <div class="container">
            <section class="box">
              <img src="../assets/Record-hours.png" alt="Icon calendar clock" />
              <p class="bold">Record Hours</p>
            </section>
            <section class="box">
             <img src="../assets/Reports.png" alt="Icon calendar pencil" />
              <p class="bold">Reports</p>
            </section>
            <section class="box">
              <img src="../assets/Resource-management.png" alt="Icon calendar" />
              <p class="bold">Resource Management</p>
            </section>
            <section class="box">
              <img src="../assets/Multiple-roles.png" alt="Icon calendar person" />
              <p class="bold">Multiple Roles</p>
            </section>
      </section>
      <h2 class="titles">
        Why using Trackgenix?
      </h2>
      <section class="w-u-trackgenix">
        <section class="utility">
          <img src="../assets/Icon Boost productivity.png" alt="Icon chart goin up" id="icon-boost-productivity" />
          <div>
            <h3 class="bold">
              Boost Productivity
            </h3>
            <p>
              Increase everyone´s performance by keeping track of tasks, hours worked, progress made & more in an organized and time effective manner.
            </p>
          </div>
          <img src="../assets/Icon Work Traceability.png" alt="Icon calendar with a check" id="icon-work-traceability" />
          <div>
            <h3 class="bold">
              Work Traceability
            </h3>
            <p>
              Organize and keep track of your work from anywhere.
            </p>
          </div>
        </section>
        <section class="utility">
          <img src="../assets/Icon Leadership&Team management.png" alt="Icon group of people" id="icon-leadership" />
          <div>
            <h3 class="bold">
              Leadership & Team Management
            </h3>
            <p>
              Manage your team´s effort by assigning new proyects, setting deadlines, roles , and hourly rates for the members of your team.
            </p>
          </div>
          <img src="../assets/Icon Decision Making.png" alt="Icon arrows pointing opposite directions" id="icon-decision" />
          <div>
            <h3 class="bold">
              Decision Making
            </h3>
            <p>Improve your decisión making by having access to this valuable information at any time.</p>
          </div>
        </section>
      </section>
      <h2 class="titles titles2" >
        Information Request
      </h2>
      <form action="">
        <h2 class="titles" >
          Information Request
        </h2>
        <fieldset>
          <legend></legend>
          <table class="table">
            <tbody>
              <tr>
                <td><label class="table-lable" for="name">Name</label></td>
                <td><input type="name" name="name" id="name" /></td>
              </tr>
              <tr>
                <td><label class="table-lable" for="email">Email</label></td>
                <td><input type="email" name="email" id="email" /></td>
              </tr>
              <tr>
                <td><label class="table-lable" for="Contact area">Contact area</label></td>
                <td>
                  <div>
                    <input type="radio" id="HR department" name="Contact-area" />
                    <label for="HR department">HR department</label>
                  </div>
                  <div>
                    <input type="radio" id="Systems" name="Contact-area" />
                    <label for="Systems">Systems</label>
                  </div>
                  <div>
                    <input type="radio" id="Commercialization" name="Contact-area" />
                    <label for="Commercialization">Commercialization</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label class="table-lable" for="Message">Message</label></td>
                <td><textarea name="Message" id="Message" cols="30" rows="10"></textarea></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button id="confirm">Confirm</button>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
      <h2 class="titles">
        History
      </h2>
      <section class="history-section">
        <div class="years">
            <h3>2007</h3>
            <h3>2011</h3>
            <h3>2014</h3>
        </div>
        <div class="history-rows">
          <article class="history">
            <p>
            We initially began to sell our services in 2007 at the department of Rosario, Argentina.
            </p>
          </article>
          <article class="history">
            <p>
            Since day 1 of our introduction to the market, our model has been to put our clients needs first and to ensure a high level of client
            satisfaction.For this reason, our business grew rapidly and by the year 2011 we decided it was best to expand our reach to the entire
            country.
            </p>
          </article>
          <article class="history">
            <p>
            In Radium Rocket we are constanly pushing the boundaries of whats posible.In the year 2014, we acquired Microsoft Data, Inc., which
            allowed us to become the worldwide leading developer and provider of technology solutions in the casino industry.
            </p> 
          </article>
        </div>
        <div class="years">
          <h3>2018</h3>
          <h3>2021</h3>
          <h3>2022</h3>
        </div>
        <div class="history-rows">
          <article class="history">
            <p>
            In 2018, we opened a software development center in Hong Kong, Asia, to supplement our product development efforts.Since then, engineers,
            designers and developers from all around the world have been putting in the work everyday to advance engeniering discoveries and uncover
            new technologies that have singinifcant potential for enterprises with bright and new business ideas.
            </p>
          </article>
          <article class="history">
            <p>
            In 2021, we sold our IT solutions department in regards to the casino industry, and restructured our business model to focus on a more
            ethical approach to business.
            </p>
          </article>
          <article class="history">
            <p>
            Today, we are focused on providing state-of-the-art, end-to-end solutions that enhance users experiences and allow our customers to
            promote their brands.This is accomplished by developing and deploying innovative solutions that help enterprises overcome daily challenges
            which always emerge during digital evolution.
            </p>
          </article>
        </div>
      </section>
      <section class="contact">
        <div>
          <h2>Contact</h2>
          <p></p><img src="../assets/Icon Tel.png" alt="">(000) 000-0000</p>
          <p></p><img src="../assets/Icon email.png" alt="">trackgenixsupp@rr.com</p>
        </div>
      </section>
      <nav>
        <div>
          <h3 class="title-nav">
            <img src="../assets/Icon products.png" alt="Shop icon" />
            products
          </h3>
          <ul>
            <li>
              <a href="">Functionalities</a>
            </li>
            <li>
              <a href="">Downloads</a>
            </li>
            <li>
              <a href="">Integration</a>
            </li>
            <li>
              <a href="">Extra</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="title-nav">
            <img src="../assets/Icon Business.png" alt="Circle diagram icon" />
            Business
          </h3>
          <ul>
            <li>
              <a href="">About us</a>
            </li>
            <li>
              <a href="">Clients</a>
            </li>
            <li>
              <a href="">Resource</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="title-nav">
            <img src="../assets/Icon Support.png" alt="Info icon" />
            Support
          </h3>
          <ul>
            <li>
              <a href="">Help</a>
            </li>
            <li>
              <a href="">Tutorials</a>
            </li>
            <li>
              <a href="">API</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </main>
    <footer>
      <img src="../assets/Icon Facebook.png" alt="Facebook Icon" /> <img src="../assets/Icon twitter.png" alt="Twitter Icon" />
      <img src="../assets/Icon Linkedin.png" alt="Linkedin-icon" /> <img src="../assets/Icon Instagram.png" alt="instagram-icon" />
      <p>Rosario, Argentina.</p>
      <p>Copyright &copy; 2022 Radium Rocket. All rights reserved</p>
    </footer>
  </body>
</html>
