<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../javascript/login.js">
    <title>Trackgenix - Log In</title>
  </head>
  <body>
    <div class="aside-mobile">
      <a><img src="../assets/shape.png" alt="burger menu" /></a>
    </div>
    <aside>
      <div class="aside-desktop">
        <div class="content-ad">
          <a href="./index.html"><img src="../assets/Icon Home.png" alt="Icon home" id="icon-home" />Home</a>
        </div>
        <div class="content-ad">
          <a href="./sign-up.html"><img src="../assets/user-question.svg" alt="Icon person with question mark" id="icon-sign-up" /> Sign Up</a>
          <a><img src="../assets/Icon Login.png" alt="Icon person" id="icon-log-in" /> Log In</a>
        </div>
        <div class="secondary-content-ad">
          <a><img src="../assets/Icon Contact.png" alt="Icon clock" id="icon-contact" />Contact</a>
          <p><img src="../assets/Icon Tel.png" alt="Icon phone" id="icon-phone" />(000)000-0000</p>
          <p><img src="../assets/Icon email.png" alt="Icon email" id="icon-mail" />trackenixsup@rr.com</p>
        </div>
      </div>
    </aside>
    <header>
      <h1 class="login-title">Trackgenix</h1>
    </header>
    <main>
    <fieldset>
      <form action="">
        <table class="table">
          <tbody>
            <th>
                <td class="form-title">Log in</td>
            </th>
            <tr>
              <td><input type="text" name="email" id="email" /></td>
            </tr>
            <tr>
              <td><input type="text" name="password" id="password" /></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="rememberme" /></td>
              <td>Remember me</td>
            </tr>
            <tr>
              <td>
                <a href="./sign-up.html">Register here</a>
              </td>
              <td>
                <a href="">Forgot your password?</a>
              </td>
            </tr>
            <tr>
              <td>
                <button id="login">Login</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      </main>
     <!-- Gotta fix the footer. -->
    </fieldset>
      <footer>
      <img src="../assets/Icon Facebook.png" alt="Facebook Icon" /> <img src="../assets/Icon twitter.png" alt="Twitter Icon" />
      <img src="../assets/Icon Linkedin.png" alt="Linkedin-icon" /> <img src="../assets/Icon Instagram.png" alt="instagram-icon" />
      <p>Rosario, Argentina.</p>
      <p>Copyright &copy; 2022 Radium Rocket. All rights reserved</p>
    </footer>
  </body>
</html>
